
# Ignore build files
# Latex ignores
*.aux
*.log
*.out
*.toc
*.pdf
*.blg
*.fls
*.lot
*.lof
*.bbl
*.loa
*.synctex.gz
*.fdb_latexmk

*.env
.venv/
venv/


rapport/MiunThesisTemplate-master/thesis.bcf
rapport/MiunThesisTemplate-master/thesis.run.xml
rapport/MiunThesisTemplate-master/thesis.synctex.gz
rapport/MiunThesisTemplate-master/thesis.synctex.gz
rapport/MiunThesisTemplate-master/thesis.bbl
rapport/MiunThesisTemplate-master/thesis.bbl
rapport/MiunThesisTemplate-master/thesis.synctex(busy)
rapport/MiunThesisTemplate-master/thesis.synctex.gz
rapport/MiunThesisTemplate-master/thesis.synctex.gz
rapport/MiunThesisTemplate-master/thesis.synctex.gz
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/isak-bachelor-thesis.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
code/backend/ai/__pycache__/agent.cpython-311.pyc

#Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
rapport/MiunThesisTemplate-master/thesis.bbl
